@model AvaliacaoLP3_3BIM.ViewModels.LojasViewModel;

@{
    ViewData["Title"] = "Informações: " + Model.Nome;
}
<div class="text-center">
    <h1 class="display-4">Detalhes</h1>

    <h1>Nome: @Model.Nome</h1>
    <p>Descrição: @Model.Descricao</p>
    <p>Piso: @Model.Piso</p>
    <p>Loja/Kiosque: @Model.Tipo</p>
    <p>Contato: @Model.Email</p>

    <button>Excluir loja/Kioque</button>


</div>